.main-app {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #333;
    margin-bottom: 30px;
    margin-top: -20px;
}
header{
    color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    font-size: 60px;
}

.header-container p {
    color: #888;
    font-size: 11px;
    margin-top: -30px;
}

form{
    display: flex;
    width: 60%;
    margin: auto;
    align-items: center;
    margin-bottom: 40px
}

input {
    width: 60%;
    height: 35px;
    border: 2px solid gray;
    padding-left: 8px;
}

button {
    width: 20%;
    height: 35px;
    margin: auto;
    border: 2px solid gray;
    cursor: pointer;
    background: #888;
    color: white;

}

input:focus, button:focus {
    border: 1px solid #888;
    outline: none;
}